body{
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #E6E6EA;
  font-family: 'K2D', sans-serif;
}

main {
  position: relative;
  width: 40vw;
  height: 50vh;
}

/*form */
form {
    background-color: #F4F4F8;
    box-shadow: 4px 4px 18px #aaaaaa;
}

fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

.header{
  background-color: #00CC99;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
}

/* inputs */
input[type=text],
input[type=password] {
    font-family: 'K2D', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 7px 0;
    display: inline-block;
    border-bottom: 0;
    border-left: 3px solid #00CC99;
    border-top: 0;
    border-right: 0;
    box-sizing: border-box;
    background-color: #EDEDF2;
}

input[type=text] {
  margin-bottom: 15px;
}

button {
    font-family: 'K2D', sans-serif;
    font-size: 16px;
    background-color: #00CC99;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.7;
}

/* Add padding to containers */
.container {
    padding: 12px;
}

.check {
  font-family: 'K2D', sans-serif;
  font-size: 16px;
}

.frgt{
  background-color:#F4F4F8;
  font-size: 14px;
}

.newacc{
  position: absolute;
  right: 12px;
}

a{
  color: #808080;
  text-decoration: none;
  transition: ease .2s;
    -webkit-transition: ease .2s;
}

a:hover{
 color: #808080a1;
}

.wrong{
  background-color: #EFDCE0 !important;
  border-color: #EFA7B8 !important;
}

.err{
  text-align: center;
  font-size: 16px;
}

.success{
  text-align: center;
  font-size: 16px;
  color: #00CC99;
  margin: 10px;
}

/*Small screens responsive*/
@media screen and (max-width: 700px) {
    main {
      width: 60vw;
    }
}

/*Large screens responsive*/
@media screen and (min-width: 1100px) {
    main {
      width: 445px;
    }
}
